---
import Layout from '../layouts/Layout.astro';
import ListOfProducts from '../components/ListOfProducts.astro'
import MobileHeader from '../components/MobileHeader.astro'
---

<Layout title="Welcome to Astro.">
	<main>

		<MobileHeader/>

		<ListOfProducts/>
	</main>
</Layout>

